@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@100;200;300;400;500;600;800&display=swap);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.home{
    margin:1rem 5px;
    height: 100vh;
    transition-delay: 2s all ease;
    font-family: "Dosis Bold" ;
    /* overflow: auto; */
    /* background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wallpapertip.com%2Ffr%2FowiTRo%2F&psig=AOvVaw3e4sfUQqIRhW24_3gf6So3&ust=1646207580859000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMDi07C3pPYCFQAAAAAdAAAAABAJ") center/cover fixed; */
    font-family: 'Dosis', sans-serif;
}

.homeContent{
    border: 4px solid #ccc;
    /* height: 23vh; */
    width: 100%;
    
    display: grid;
    grid-template-columns:4% 96%;
    float: right;
    /* background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wallpapertip.com%2Ffr%2FowiTRo%2F&psig=AOvVaw3e4sfUQqIRhW24_3gf6So3&ust=1646207580859000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMDi07C3pPYCFQAAAAAdAAAAABAJ"); */
    /* background-color: azure; */
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.side-bar{
    position: fixed;
    display: flexbox;
    align-items: center;
    /* animation: alternate; */
    justify-content: center;
    min-width: 100%;
    /* border:5px solid #cf0404; */
}
.home-section .main-header{
  min-width: 90%;

  justify-content: center;
  align-self: center;
  justify-self: end;
}
.home-section .main-header-content{
  padding:5rem;
}
.home-section .main-header-content .header-title{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-transform: capitalize;
  text-shadow: 1px 2px 1px #777;
}

.homeContent .content{
    display: flex;
    min-width: 100%;
  }
  .home-section{
    justify-content: center;
    align-items: center;
    min-height: 300vh;
    min-width: 100%;
    display: grid;
    color: rgb(7, 53, 53);
    
    /* border: 1px solid rgba(7, 53, 53, 0.575); */
  }
/* crud__section */
.crud__section{
  border:2rem solid #176e86;
  /* background: rgba(17, 17, 17, 0.795); */
  font-size: 1rem;
  min-width: 94vw;
  height: 100vh;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;

}
/* circle */
.anime{
  display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #176e86;
    transition: 5s;
    margin: 4rem 3px;
}

.circles {
    width: 50vmin;
    height: 50vmin;
    position: relative;
    perspective: 50000px;
    color: #176e86;
    animation-duration: 10s;
    
  }
  .circles span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 18.4%;
    height: 18.4%;
    border-radius: 100%;
    background: currentColor;
  }
  .circles div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2vmin solid;
    border-top: 2vmin solid transparent;
    border-radius: 100%;
  }
  .circles div:nth-child(1) {
    -webkit-animation: anim-1 1s linear infinite;
            animation: anim-1 1s linear infinite;
  }
  .circles div:nth-child(2) {
    -webkit-animation: anim-2 1s linear infinite;
            animation: anim-2 1s linear infinite;
  }
  .circles div:nth-child(3) {
    -webkit-animation: anim-3 1s linear infinite;
            animation: anim-3 1s linear infinite;
  }
  
  @-webkit-keyframes anim-1 {
    from {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
    }
    to {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
  }
  
  @keyframes anim-1 {
    from {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
    }
    to {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
  }
  @-webkit-keyframes anim-2 {
    from {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
    }
    to {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
  }
  @keyframes anim-2 {
    from {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
    }
    to {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
  }
  @-webkit-keyframes anim-3 {
    from {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
  }
  @keyframes anim-3 {
    from {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  /* animation ratotion with react  */

  @media (prefers-reduced-motion: no-preference) {
    .circles {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* and animation  */
  
  /* component login dev */
  .login-dev{
    min-width: 90vw;
    min-height: 40vh;
    display: flexbox;
    border-radius: 12px;
    top: 2px;

    /* border: 4px solid black; */
  }
  

  /* home structure  */
  @charset "UTF-8";
nav {
  /* background: rgba(255, 255, 255, 0.7); */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  z-index: 99999;
}
nav .page-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-right: 40px;
  padding: 15px 25px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  position: relative;
}
nav ul li a {
  padding: 0 20px;
  font-weight: 700;
  display: block;
  height: 60px;
  line-height: 55px;
  transition: all 250ms ease;
}
nav ul li a.current {
  background: #00ff99;
  color: #000;
}
nav ul li a:hover {
  transition: all 50ms ease;
  box-shadow: inset 0 -2px 0 #00ff99;
}

ul:not(.ul) {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  transition: all 50ms ease;
}
a:hover {
  color: #80ffcc;
}
.home .flex section{
  min-height: 18vh;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  
}

.main-header {
  background-image: url(https://i.imgur.com/HJcOYqf.jpg);
  border-bottom: 2px solid #111;
  box-shadow: inset 0 0 50px #000, 0 0 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 30px;
  margin: 0 0 25px 0;
  text-shadow: 0 5px 15px #000;
  position: relative;
}
.main-header.small .main-header-content {
  max-height: 50px;
  padding: 10px 15px;
  
}
.main-header.small .header-title {
  font-size: 2em;
  line-height: 50px;

}
.main-header.small canvas.cover {
  opacity: 0;
}
.main-header canvas.cover {
  transition: all 500ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.main-header .main-header-content {
  transition: all 500ms ease;
  position: relative;
  padding: 50px 10px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 340px;
  margin: 1rem auto;
  border-radius: 19px ;
  box-shadow: inset 1px 2px 1px 2px ;
  /* border: 0.3rem solid #00ff99; */
  overflow: hidden;
  font-size: larger;
  
}
.main-header .header-title {
  transition: all 500ms ease;
  display: block;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 3em;
  font-weight: 900;
  color: rgb(0, 255, 242);
  text-shadow:1px 2px 1px 3px #eee;
  margin-bottom: 40px;
  /* font-weight: bold; */
  line-height: 1em;
}

.entries {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  text-shadow: 0 2px 3px #000;
}
.entries:hover .entries-title::after {
  width: 100%;
  transition: width 250ms ease;
}
.entries .entries-title {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0 0 5px 20px;
  box-shadow: -5px 0 0 #00ff99;
  transform: translateX(-7px);
  position: relative;
}
.entries .entries-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 10px;
  background: #00ff99;
  transition: width 500ms ease;
}
.entries article {
  min-width: 400px;
  font-size: 0.9em;
  padding: 10px;
  opacity: 0;
  -webkit-animation: spinbox 500ms ease 1 forwards;
          animation: spinbox 500ms ease 1 forwards;
}
.entries article:nth-child(0) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.entries article:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.entries article:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.entries article:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.entries article:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.entries article:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.entries article header {
  font-size: 1.2em;
}
.entries article header a:hover {
  padding-left: 2px;
}
.entries article p {
  margin: 0;
}

@-webkit-keyframes spinbox {
  from {
    transform: rotateX(-90deg) translateY(30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes spinbox {
  from {
    transform: rotateX(-90deg) translateY(30px);
  }
  to {
    opacity: 1;
  }
}
label.checkbox {
  display: inline-block;
  height: 20px;
  transform: translateX(-30px) translateY(3px);
  position: relative;
}
label.checkbox input[type=checkbox] {
  box-shadow: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  position: absolute;
  outline: none;
}
label.checkbox input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  background: #00ff99;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}
label.checkbox input[type=checkbox]::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #3c3c3c;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 3px #000;
  width: 20px;
  height: 20px;
  font-size: 14pt;
  font-weight: 900;
  line-height: 15pt;
  text-align: center;
  transition: all 100ms ease;
}
label.checkbox input[type=checkbox]:checked::before {
  -webkit-animation: big-grow 500ms ease 1;
          animation: big-grow 500ms ease 1;
}
label.checkbox input[type=checkbox]:checked::after {
  box-shadow: 0 0 5px #00ff99;
  background: #00ff99;
  color: #222;
  content: "✓";
}

input {
  font: inherit;
  background: #222;
  color: #eee;
  border: none;
  outline: none;
  box-shadow: 0 0 3px #00ff99;
  font-size: 12pt;
  padding: 5px 10px;
}

hr {
  border-color: #00ff99;
  margin: 25px auto;
  max-width: 1000px;
}

.chart-container header {
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.5em;
}

.chart {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 10px;
}
.chart.chart-small {
  width: 60%;
}

input.embedded {
  background: transparent;
  color: inherit;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  width: 120px;
}
input.embedded::-webkit-input-placeholder {
  color: inherit;
}
input.embedded::-moz-placeholder {
  color: inherit;
}
input.embedded:-ms-input-placeholder {
  color: inherit;
}





.fancy {
  margin: 20px;
  cursor: pointer;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #eee;
  text-shadow: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px rgba(0, 255, 153, 0.3);
  position: relative;
  z-index: 1;
  transition: all 250ms ease;
}
.fancy::before, .fancy::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
}
.fancy::before {
  background: #00ff99;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  transition: all 250ms ease;
  z-index: -1;
}
.fancy::after {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.fancy:hover {
  background: transparent;
  color: #222;
  box-shadow: 0 0 0 5px #00ff99;
}
.fancy:hover::before {
  height: 100%;
}
.fancy:hover::after {
  -webkit-animation: grow 500ms ease 1;
          animation: grow 500ms ease 1;
}
.fancy:focus:not(:hover) {
  box-shadow: 0 0 0 2px rgba(0, 255, 153, 0.3);
}
.fancy:focus:not(:hover)::before {
  height: 15%;
}
.fancy:active {
  transform: translateY(1px);
}
.fancy.glow::after {
  filter: blur(20px);
}

@-webkit-keyframes grow {
  to {
    background: #00ff99;
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes grow {
  to {
    background: #00ff99;
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes big-grow {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes big-grow {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-moz-selection {
  background: rgba(0, 255, 153, 0.3);
}

::selection {
  background: rgba(0, 255, 153, 0.3);
}



/* gantt-confid  */
.gantt-config{
  min-width: 98%;
  min-height: 180vh;
  border: 7px solid  #000;
  box-shadow: inset 1px 3px 1px 1px #80ffcc;
  border-radius: 19px;

}
.gantt-container{
  /* border: 3px solid red; */
  min-height: 100%;
  padding: 1rem;
  /* overflow: auto; */
  height: 120vh;
}
/* 
@media screen and (max-width: 960px) {
  .main-header .main-header-content{
    min-width: 100%;
    height: 80vh;
    background-image: url(https://i.imgur.com/HJcOYqf.jpg);
    border-bottom: 2px solid #111;
    box-shadow: inset 0 0 50px #000, 0 0 1px rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: 0 0 25px 0;
    text-shadow: 0 5px 15px #000;
    position: relative;
    transition: all 500ms ease;
  border: 0.3rem solid #00ff99;
  overflow: hidden;
  }

  .home-section .gantt-config{
    position: relative;
    display: block;
   
  }
} */
