$duration : 0.4s;
$ribbon-color:rgba(173,20,87,1);
$color-icon-over : #A7D82E;

*{
	box-sizing:border-box;
}

a{
	color:inherit;
	background-color:red;
}

#container{
	width:100%;
	height:100%;
	margin:5px auto;
}

.icon{
	font-family:FontAwesome;
	display:block;
	text-align:center;
	position:absolute;
	width:100%;
	top:0;
	border-radius: 5% 5% 0 0;
	height:120px;
	line-height:2em;
	font-size:4em;
	transition:color $duration;
	background-color:#fff;
}
.fa-q:before{
	content:"\f128";
}

.row{
	display:block;
	margin:30px auto;

}
.container_wrapper{
	margin:0 auto;
	width:820px;
}
.container_wrapper:after{
	content:" ";
	display:block;
	clear:both;
}

.tile{
	margin-right:2em;
	border: 3px solid #444F5A;
	background-color:$ribbon-color;
	border-radius:6%;
	float:left;
	display:block;
	width:240px;
	height:180px;
	position:relative;
	box-shadow:2px 2px 3px rgba(100,100,100,0.7);
	transition: all $duration;
	
	&:hover{
		//transform:scale(1.03);
		box-shadow:5px 5px 5px rgba(100,100,100,1);
		.flip-icon{
			transform: rotateY(180deg) scale(1);

			a{
				color:black;
				&:hover{
					color:pink;
				}
			}
}
	}
	&:hover .icon{
		color: $color-icon-over;
		+p{
			border-radius: 0 0 19% 19%;
			color:$color-icon-over;
		}
		
		
	}
	p{
		display:block;
		position:absolute;
		height:30px;
		right:0;
		bottom:0;
		left:0;
		font-weight:bold;
		font-size:1.2em;
		text-align:center;
		line-height:0.5em;
		color:#fff;
		transition: all $duration;
	}
}

.flip-icon{
	transition-duration:$duration;
	transform-style: preserve-3d;
}

.front-flip{
	z-index:2;
	backface-visibility:hidden;
	transform: rotateY(0deg);
}
.back-flip{
	backface-visibility:hidden;
	transform: rotateY(180deg);
	
}

.back-flip a{
	display:block;
	position:relative;
	width:110px;
	top:20px;
	left:40px;
	line-height:25px;
	text-align:left;
		text-decoration:none;
		font-size:15px;
		background-color:inherit;
	&:hover{
		
	}
}

