*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.container{
    font-size: 1rem;
    min-width: 100%;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    position: absolute;
    color: black;
    /* background: #ccc; */
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 1px 2px 2px 1px rgb(0, 255, 179);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin: 1px;
}
.nav-content .nav-links {
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    gap: 10px;
    min-width: 90%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.nav-links li:hover{
    font-size: 1rem;
    font-weight: bold;
    transition: 1s all in-ease;
    -webkit-transition: 1s all in-ease;
    -moz-transition: 1s all in-ease;
    -ms-transition: 1s all in-ease;
    -o-transition: 1s all in-ease;
}
.nav-links ul li{ 
    align-items: center;
    list-style: none;
    padding: 2rem;
    
}