.container{
    font-size: 1.2rem;
    min-width: 90%;
    min-height: 10vh;
    position: relative;
    margin: 1px;
    color: black;
    background: #ccc;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 1px 2px 2px 1px rgb(0, 255, 179);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.app-header .navigation{
    display:flex;
    justify-content:center;
    align-items:center;
    

}
.app-header .open-project{
    display: grid;
    float: left;
    justify-content: center;
    position: static;
}
/* @media only screen (min-width:1050px) {

    .nav .nav-bar{
        font: size 1.3em;
        display: block;
        justify-content:center;
        position:relative;
        border: 1px solid red;
    }
} */
.nav .nav-bar{
    display:flex;
    gap: 19px;
    /* grid-template-columns: 17% 17% 17% 16% 17% 16%; */
    position: relative;
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    border: 3px solid rgb(43, 148, 122);
    justify-content:center;
    border-radius: 40px;
    align-items:center;
    min-width: 100%;
    min-height: 60px;
    padding: 12px;
    /* gap: 3px */
}
.nav .nav-bar li{
    height: 90%;
    width: 100% ;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}
.nav .nav-bar li:hover{
    position: relative;
    top: 4px;
    border: 2px solid #ddd;
    border-radius: 22px;
    font-weight: bolder;
    transition: 1s all ease-in-out;
}
.container-fluid .app-sidebar  {
    display: block;
    min-width: 8%;
    float: left;
    margin: 2rem 10px;
    align-items:flex-start;
    min-height: 60vh;
    margin-right: 10px;
    border: 2px  solid rgba(204, 204, 204, 0.404);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.container-fluid .app-sidebar .sidebar{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
.sidebar li:hover{
    top: 12px;
    padding: 1rem;
    position: relative;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.sidebar li:not(:hover){
    transition: 1s ;
    -webkit-transition: 1s ;
    -moz-transition: 1s ;
    -ms-transition: 1s ;
    -o-transition: 1s ;
    -webkit-transition: 2s all out-ease;
}
.nav-content .nav-links , .nav-content .app-links {
    border-radius: 12px;
    gap: 10px;
    background: transparent;
    min-width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.app-links{
    border-radius: 12px;
    gap: 10px;
    background: transparent;
    min-width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.nav-links li:hover , .app-links li:hover{
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    transition: 2s in-ease;
    -webkit-transition: 2s in-ease;
    -moz-transition: 2s in-ease;
    -ms-transition: 2s in-ease;
    -o-transition: 2s in-ease;
}
.nav-links ul li{
    align-items: center;
    list-style: none;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.nav-aria{
    display: grid;
    justify-content: center ;
}