.containers{
   
    position: relative;
    margin: 3px;
    width: 100%;
    padding: 4rem 1rem;
    display: block;
    text-shadow:1px 2px 1px  rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    /* background: linear-gradient(90deg,rgb(28,27,27) 0%, rgb(0, 162, 255) 100%); */
    /* border-bottom: 2px solid #111; */
    box-shadow: inset 0 0 50px #000, 0 0 1px rgba(255, 255, 255, 0.3);
    /* border: 2px solid rgb(0, 0, 0); */
    /* box-shadow: 1px 2px 2px 1px rgb(0, 255, 179); */
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.title{
    margin: 2rem 5px;

}
.logContent{
    min-width: 90%;
    min-height: 100%;
    height: 70vh;
    margin-top: 3rem;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    position: relative;
    justify-content: center;
    place-content:center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    
}

.presentation , .devops{

}

.presentation .presentationContent button:hover{
    padding:1rem;
}
.form{
}
.logContent .formulaire{
    /* min-width: 90%; */
    border-bottom: 2px solid #111;
  /* box-shadow: inset 0 0 30px #000, 0 0 1px rgba(255, 255, 255, 0.3); */
  text-align: center;
  box-shadow: inset 6px 6px 3px 4px rgba(0, 255, 221, 0.527);
  padding-top: 2rem;
  font-weight: bolder;
  text-shadow: 0 5px 15px #000;
  position: relative;
  border-radius: 19px;
  display: flexbox;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.Mou, .Moe, .Ca, .chefDequipe, .resPlan, .resDepart, .resQual, .resCont, .nbrDev{
    padding: 2rem;
    min-width: 60%;
    display: grid;
    grid-template-rows: auto;
}

.Mou input, .Moe input, .Ca input, .chefDequipe input, .resPlan input, .resDepart input, .resQual input, .resCont input, .nbrDev input{
    min-height: 3rem;
    font-weight: bold;
    font-size: 1rem;
    margin: 3px auto;
    border-radius: 16px;
    min-width: 100%;
    font-family: "Dosis" 'Dosis', sans-serif;
    font-variant-numeric: normal;
}









/* responsive */
@media screen and (max-width: 960px) {
    .logContent, .logContent .formulaire{
        position: relative;
        display: block;
        min-width: 100%;
        min-height: 110vh;
        /* border: 2rem solid red; */
    }
    .logContent .presentationContent{
        margin: 3rem 3px;

    }
  }
  @media (min-width:900px) and (max-width:1400px) {
      .containers{
          /* min-height: 50vh; */
          border: 1px solid aliceblue;
          justify-content: center;
      }
  }

  .part{
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: center;
      padding: 1rem;
  }