.navBar{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 position: fixed;
  

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

.navBar__burger{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: none;


}
@media screen and (max-width:1000) {

    .navBar__burger{
    display: block;
    }
    .navBar__burger:hover{
        cursor: pointer;

    }
    .burger__bar , .burger__bar::after, .burger__bar::before{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: #fff;
    }
    .burger__bar::after, .burger__bar::before{
        content: "";
        position: absolute;
        left: 0;
         
    }
   .burger__bar::before{
    transform: translateY(-12px);
   }
   .burger__bar::after{
    transform: translateY(12px);
   }
}