.home{
    font-size: 3rem;
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}