.home{
    margin-top: 1rem;
    margin-left: 2rem;
    height: 130vh;
    font-family: @import url(https://fonts.googleapis.com/css2?family=Dosis:wght@100;200;300;400;500;600;800&display=swap);
    
    body {
      font-family: 'Dosis', sans-serif;
    };
}
.homeContent{
    border: 4px solid #ccc;
    height: 23vh;
    width: 90%;
    float: right;
    background-color: azure;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.content .home-section{
    justify-content: center;
    align-items: center;
    display: grid;
    color: rgb(7, 53, 53);
    
}