.index, .index1{
    /*min-height: 100vh;
    */min-width: 100%;
    /*width:50vw;
    /* height: 100vh; */
    font-size: 1rem;
    visibility: visible;
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    /* background: #00ff99; */
    background: url("../../../../../public/assets/video.mp4") center/cover fixed;
    position: relative;
    /* border: 2px solid rgba(0, 0, 0, 0.432); */
}
.main-index{
    
    width: 80%;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-rows: 15% 60% 25%;
    border-radius: 20px; 
    box-shadow: inset 0 0 50px #000, 0 0 1px rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 30px;
    justify-content: center;
    text-shadow: 0 5px 15px #000;
    background: url("../../../../../public/assets/b.webm") center/cover fixed;

    /*background:rgb(248, 0, 0);
    box-shadow: inset 2px 2px 7px 2px #222; */
    
}
.main-index-content{
  background: rgba(15, 0, 0, 0.473);
  color: #00ff99;
  /*border: 2rem solid red;
  */opacity: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: visible;
  border-radius: 20px  ;
  -webkit-border-radius: 20px  ;
  -moz-border-radius: 20px  ;
  -ms-border-radius: 20px  ;
  -o-border-radius: 20px  ;
}
.logo{
 
  visibility: visible;
  opacity: 89%;
  margin: 2rem 2px;
  animation-delay: 2s ;
  transition-delay: 2s;
  display: flex;
  justify-content: center;
  justify-items: center;
 
}
.logo svg {
  width: 400px;
  height: 400px;
  padding: 2px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 3px 2px 2px 2px #222;
  background: linear-gradient(#ccc 10%, #113 90%);
  /* transform: translate(0%, 50%);
  -webkit-transform: translate(0%, 30%);
  -moz-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  -o-transform: translate(0%, 50%); */
}

article{
  color: aliceblue;
  text-shadow:1px 2px 1px rgb(0, 0, 0);
}

.header-title{
  display: flex;
  justify-content: center;
  justify-items: center;
  min-width: 100%;
  color: #000;
}

.index-content{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 30vh;
    margin-bottom: 30rem;
}
.flex-content{
   display: flex;
   align-items: center;
    justify-content: space-between;
    height:150px;
}
.flex article{
    margin: 1.5rem;
}
.header-title{
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 238, 255);
    text-shadow: 2px 4px 5px 2px #113;
    text-transform: capitalize;
    /* text-shadow: 1px 2px 1px #777; */
  }


label.checkbox {
    display: inline-block;
    height: 20px;
    transform: translateX(-30px) translateY(3px);
    position: relative;
  }
  label.checkbox input[type=checkbox] {
    box-shadow: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    position: absolute;
    outline: none;
  }
  label.checkbox input[type=checkbox]::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    background: #00ff99;
    border-radius: 3px;
    width: 20px;
    height: 20px;
  }
  label.checkbox input[type=checkbox]::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #3c3c3c;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 3px #000;
    width: 20px;
    height: 20px;
    font-size: 14pt;
    font-weight: 900;
    line-height: 15pt;
    text-align: center;
    transition: all 100ms ease;
  }
  label.checkbox input[type=checkbox]:checked::before {
    -webkit-animation: big-grow 500ms ease 1;
            animation: big-grow 500ms ease 1;
  }
  label.checkbox input[type=checkbox]:checked::after {
    box-shadow: 0 0 5px #00ff99;
    background: #00ff99;
    color: #222;
    content: "✓";
  }
  
  input {
    font: inherit;
    background: #222;
    color: #eee;
    border: none;
    outline: none;
    box-shadow: 0 0 3px #00ff99;
    font-size: 12pt;
    padding: 5px 10px;
  }



.chart-container header {
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 0.5em;
  }
  
  .chart {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 10px;
  }
  .chart.chart-small {
    width: 60%;
  }
  
  input.embedded {
    background: transparent;
    color: inherit;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    width: 120px;
  }
  input.embedded::-webkit-input-placeholder {
    color: inherit;
  }
  input.embedded::-moz-placeholder {
    color: inherit;
  }
  input.embedded:-ms-input-placeholder {
    color: inherit;
  }
  
  
  
  
  
  .fancy {
    margin: 20px;
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #eee;
    text-shadow: none;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(0, 255, 153, 0.3);
    position: relative;
    z-index: 1;
    transition: all 250ms ease;
  }
  .fancy::before, .fancy::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
  }
  .fancy::before {
    background: #00ff99;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    transition: all 250ms ease;
    z-index: -1;
  }
  .fancy::after {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }
  .fancy:hover {
    background: transparent;
    color: #222;
    box-shadow: 0 0 0 5px #00ff99;
  }
  .fancy:hover::before {
    height: 100%;
  }
  .fancy:hover::after {
    -webkit-animation: grow 500ms ease 1;
            animation: grow 500ms ease 1;
  }
  .fancy:focus:not(:hover) {
    box-shadow: 0 0 0 2px rgba(0, 255, 153, 0.3);
  }
  .fancy:focus:not(:hover)::before {
    height: 15%;
  }
  .fancy:active {
    transform: translateY(1px);
  }
  .fancy.glow::after {
    filter: blur(20px);
  }
  
  @-webkit-keyframes grow {
    to {
      background: #00ff99;
      transform: scale(1.2);
      opacity: 0;
    }
  }
  
  @keyframes grow {
    to {
      background: #00ff99;
      transform: scale(1.2);
      opacity: 0;
    }
  }
  @-webkit-keyframes big-grow {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes big-grow {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #222;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #777;
  }
  
  ::-moz-selection {
    background: rgba(0, 255, 153, 0.3);
  }
  
  ::selection {
    background: rgba(0, 255, 153, 0.3);
  }
  